# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules
# dependencies
/rookiecook_app/node_modules
/rookiecook_app/.pnp
/rookiecook_app.pnp.js
/OD_RookieCook

# testing
/rookiecook_app/coverage

# production
/rookiecook_app/build

# misc
/rookiecook_app.DS_Store
/rookiecook_app.env.local
/rookiecook_app.env.development.local
/rookiecook_app.env.test.local
/rookiecook_app.env.production.local

/rookiecook_appnpm-debug.log*
/rookiecook_appyarn-debug.log*
/rookiecook_appyarn-error.log*
